$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

* {
    box-sizing: border-box;
    position: relative;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1020px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* ------------ SPELLBOOK ---------------- */
$navbar-height-total: $navbar-height + $navbar-margin-bottom;
$selected: darken($brand-success, 20%);

body {
    padding-top: $navbar-height-total;
    padding-bottom: $navbar-height-total;
}

.inline {
    display: inline-block;
}

.class-badge {
    display: inline-block;
    border: 3px solid #FFA500;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.selected-class {
    background-color: $selected;
    color:#FFF;
}

.selected-badge {
    position: absolute;
    top: -0.25em;
    left: -0.25em;
    font-size: 1.45em;
    color: $selected;
}
.source-badge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding:3px;
    border: 1px solid $panel-default-border;
    border-top-left-radius: $panel-border-radius;
    border-bottom-right-radius: $panel-border-radius;
    border-bottom: 0px;
    border-right: 0px;
    background-color: lighten($panel-default-border, 30%);
}
.spell-block-container {
    @include make-md-column(3, 6px);
}

$spell-block-height: 200px;
$spell-block-duration: 0.4s;
.spell-block {
    position:relative;
    height: $spell-block-height;
    .panel-body {
        padding: 8px;
    }
    .panel {
        margin-bottom: 8px;
    }
}

.spell-select {
    .nav-tabs {
        margin-bottom: 10px;
    }
    .nav-tabs > li > a {
        padding-left: 11px;
        padding-right: 11px;
    }
}

.selected-spell-list {
    position: fixed;
    top: $navbar-height-total;
    bottom: $navbar-height-total;
    left: $padding-base-vertical;
    overflow: auto;
    width: 200px;
}

// Animation
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear $spell-block-duration;
  transition:all linear $spell-block-duration;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:.30;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:$spell-block-height;
}