<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">spellbook</h3>
</div>
<div class="row">
  <input class="form-control" type="text" ng-model="nameFilter" placeholder="Filter by spell name"/>
</div>
<div class="row panel panel-default">
  <div class="panel-heading">
    <p class="panel-title">Filter by class</p>
  </div>
  <div class="panel-body">
    <div ng-repeat="class in classes">
      <label class="checkbox-inline col-xs-2"><input type="checkbox" ng-model="selectedClasses:[class]"/>{{class}}</label>
    </div>
  </div>
</div>
<div class="row" >
  <div class="panel panel-default" ng-repeat="spell in spells | filter:{name:nameFilter} | classFilter:selectedClasses">
      <div class="panel-heading">
        <h4 class="panel-title">{{spell.name}} <span class="text-muted pull-right">{{spell.source}}</span></h4>
      </div>
      <p class="panel-body">{{spell.short_description}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
