<div>
  <!-- Make a new Spellbook -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title text-center">Make a new spellbook!</p>
    </div>
    <form class="panel-body" role="form">
      <p class="help-block text-center">Name your spellbook!</p>
      <div class="form-group">
        <input
          class="form-control text-center"
          type="text"
          ng-model="name"/>
      </div>
      <!-- TODO: THis should be a directive/template? We'll need to reuse it for editing -->
      <!-- TODO: You need at least one class -->
      <p class="help-block text-center">Select your classes!</p>
      <div class="form-group panel panel-default panel-body clearfix">
        <div ng-repeat="class in classes">
          <label class="checkbox-inline col-xs-2" style="text-transform:capitalize"><input
            type="checkbox"
            ng-model="selectedClasses[class]"/>{{class}}</label>
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-lg btn-block"
          ng-click="addSpellbook(name);name='';"
          ng-disabled="!name || name.length == 0">Create a new Spellbook!</button>
      </div>
    </form>
  </div>

  <!-- Edit an existing Spellbook -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title text-center">Edit a spellbook!</p>
    </div>
    <ul class="list-group" >
      <li class="list-group-item" ng-repeat="book in spellbooks">
        <a ng-click="deleteSpellbook(book)" class="pull-right text-danger glyphicon glyphicon-remove-circle" style="z-index:100"></a>
        <a class="text-center center-block" href="#spells/{{book.id}}">{{book.name}}</a>
      </li>
    </ul>

  </div>
</div>