<div>
  <div
    class="spell-block-container"
    ng-repeat="spell in catalog"
    ng-click="selectSpell(spell)">
    <div class="panel panel-default spell-block ">
        <div class="panel-heading">
          <h6 class="small panel-title">{{spell.name}}</h6>
        </div>
        <div class="panel-body">{{spell.short_description}}</div>
        <span class="small text-muted source-badge">{{spell.source}}</span>
        <span ng-show="spellbook.spells[spell.name]" class="glyphicon glyphicon-ok-sign selected-badge"></span>
    </div>
  </div>
</div>